body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F39B77;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.white-keys {
    display: flex;
    width: 500px;
    position: relative;
}

.white-keys kbd {
    display: inline-block;
    background-color: white;
    width: 14.285714%;
    border: 3px solid #e3e3e3;
    border-left: 0;
    text-align: center;
    padding-top: 140px;
    height: 100px;
}

.white-keys kbd:first-of-type {
    border: 3px solid #e3e3e3;
}

.black-keys {
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    padding: 0 35px;
}

#t {
    margin-left: 75px;
}

.black-keys kbd {
    display: inline-block;
    background-color: black;
    color: #e3e3e3;
    width: 50px;
    border-left: 0;
    text-align: center;
    padding-top: 70px;
    margin: 0 10px;
    height: 30px;
}

.container {
    position: relative;
    margin: auto auto;
}